@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@fontface {
  font-family: "Bebas Neue";
  src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
}

h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.background {
  position: absolute;
  width: 100%;
  height: 60%;
  display: flex;
  background: linear-gradient(358.92deg, #eeafd0 -67.02%, #fee7d7 101.77%);
}

.textLeft {
  padding: 4rem;
}

.textTitle {
  font-family: "Bebas Neue";
  font-size: 5rem;
}

.flowchart {
  margin-top: 30%;
  padding: 10%;
}
